.tab_style {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 18px;


    height: 29px;
    border-bottom: 4px;
    font-size: 14px;
    border-bottom-style: solid;

    cursor: pointer;
    border-bottom-color: transparent;
    font-weight: normal;
    color: black;
    user-select: none;
    /* Likely future */


}

.tab_style:hover {
    background: linear-gradient(to top, #ffffff, rgb(246, 246, 246));
    border-bottom-color: rgb(181, 181, 181);
}

.selected {
    border-bottom-color: #51504f;
    font-weight: bold;
    color: rgb(16, 2, 2);
    border-bottom-color: rgb(247, 57, 57);
    /* gradient from bottom to top */
    background: linear-gradient(to top, #ffffff, #f3f3f3);
}

.shadow_transition {
    transition: box-shadow 0.2s ease-in-out;
    margin-right: 4px;
    margin-top: -5px;
}

.shadow_transition:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    margin-right: 4px;
    margin-top: -5px;

}